.info-container {
    display: flex;
    margin: 10vh 10vw;
    margin-top: 3vh;
}

.info-text {
    padding: 0 3vw;
    width: 60%;
}

.mazemap {
    border-radius: 20px;
    border: none;
    height: 100%;
}

.nav {
    justify-content: center;
}

.tab-content{
    height: 100%;
}

.tab-pane {
    height: 100%;
}
.width100 {
    width: 100%;
}

.registraionContainer {
    display: flex;
    flex-direction: row;
}

.registraionContainer > a {
    margin: 0 0.1rem;
}

@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
    .lead {
        font-size: 1rem;
    }

    .påmelding-btn {
        margin-bottom: 2vh;
    }

    .desktop {
        display: none;
    }

    .mazemap {
        width: 100%;
        height: 70vh;
    }

    .info-container{
        flex-direction: column;
    }

    .info-text {
        width: 100%;
    }
    
}